/* react-calendar.css */
.react-calendar {
    width: 100%;
    background: transparent;
    border: none;
    font-family: inherit;
}

.react-calendar__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.react-calendar__navigation button {
    color: white;
    min-width: 44px;
    background: none;
    border: 0;
    cursor: pointer;
    font-size: 1.2rem;
}

.react-calendar__navigation button:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
}

.react-calendar__navigation__label {
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
}

.react-calendar__month-view__weekdays {
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 0.5rem;
    padding-left: 1rem;
}

.react-calendar__month-view__weekdays__weekday {
    text-align: left;
    padding-left: 0.5rem;
}

.react-calendar__month-view__days__day {
    color: white;
}

.react-calendar__tile {
    max-width: 100%;
    padding: 10px 6.6667px;
    background: none;
    text-align: center;
    line-height: 16px;
    border: 0;
    border-radius: 8px;
    height: 80px; /* Adjust height as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.react-calendar__tile:disabled {
    background-color: transparent;
    color: #6b7280;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background-color: rgba(255, 255, 255, 0.1);
}

.react-calendar__tile--now {
    background: rgba(255, 255, 255, 0.2);
}

.react-calendar__tile--active {
    background: rgba(79, 70, 229, 0.5);
    color: white;
}

.react-calendar__tile--hasActive {
    background: rgba(79, 70, 229, 0.5);
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: rgba(79, 70, 229, 0.7);
}

.react-calendar--selectRange .react-calendar__tile--hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.event-marker {
    background-color: #ef4444; /* Red dot */
    border-radius: 50%;
    width: 6px;
    height: 6px;
    margin-top: 4px;
}

.event-title {
    font-size: 0.7rem;
    color: #d1d5db; /* Lighter gray for text */
    margin-top: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}
